@if(!product){
    <span>Wrong product id</span>
    }@else {
        <button class="btn btn-secondary mt-4" (click)="goToHome()">Go back</button>

    <div class="product-details">
        <div>
            <img [src]="product.imgURL">
        </div>
        <div class="product-details-col">
            <p>{{product.name}}</p>
            <p>{{product.price | currency}}</p>
            <p>{{product.quantity}}</p>
        </div>
    </div>
    
    <div class="mt-4 d-flex align-items-center gap-4">
   
    <button [disabled]="isFirstIndex" class="btn btn-info" (click)="goPrevious(product.id)">Previous</button>

        <button [disabled]="isLastIndex" class="btn btn-info" (click)="goNext(product.id)">Next</button>
    </div>
    }
