
    <div class="card relative"  [appHighlight]="product.quantity||0" (click)="handleRoute(product.id)">
      
        <img class="card-img-top" [src]="product.imgURL" alt="Card image cap">
        @if(!product.quantity){
        <div class="overlay"></div>
        }
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
        
            <p class="card-text">{{product.price | exchangeRate : "EGP" | currency}}</p>

            @switch (product.quantity) {
            @case (1) {
            <p class="text-warning">Only 1 left in stock - order soon.</p>
            }
            @case (2) {
            <p class="text-info">Only 2 left in stock - order soon.</p>
            }@default {
            <p>{{product.quantity}} items available</p>
            }

            }
         
            <button href="#" class="btn btn-primary" (click)="addProductToCart($event,product)"
            [disabled]="product.quantity==0">Add to cart</button>

            @if (product.quantity==0) {
            <p class="text-danger">Out of stock</p>
            }@else {
            <p class="text-success">in stock</p>
            }



        </div>
    </div>
    
