.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 20px;
}
h2{
    text-align: center;
  
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(203, 203, 203, 0.354);
    
}
.overlay::after{
    content: "Out of stock";
    color: red;
    font-size: 20px;
}
